In [34]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [35]:
game = pd.read_csv('jeopardy.csv')

In [36]:
print(game.head(5))

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [37]:
# Renaming misformatted columns
game = game.rename(columns = {" Air Date": "Air Date", " Round" : "Round", " Category": "Category", " Value": "Value", " Question":"Question", " Answer": "Answer"})

In [38]:
print(game.head(2))

   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves

       Answer
0  Copernicus
1  Jim Thorpe

In [39]:
game.iloc[:3, :3]

   Show Number    Air Date      Round
0         4680  2004-12-31  Jeopardy!
1         4680  2004-12-31  Jeopardy!
2         4680  2004-12-31  Jeopardy!

prints specific columns

Function filtering the dataset for questions: Filtering a dataset by a list of words(filter_data), then lowercases all words in the list of words as well as the questions. Returns true is all of the words in the list appear in the question. (return data.loc)

In [40]:
def filter_data(data, words): 
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return data.loc[data["Question"].apply(filter)]

<center> <h6> Testing the filter function </h6>  </center>

In [41]:
filtered = filter_data(game , ["King", "Spain"])
print(filtered["Question"])

1914                                                                                                                                                                                                In the early 1800s, this man's empire included the duchy of Warsaw, the kingdom of Naples & Spain
13480                                                                                      (<a href="http://www.j-archive.com/media/2005-03-07_DJ_30.jpg" target="_blank">Jeff Probst reads from the jungle of Palau.</a>)  Palau is part of this group of islands named for King Charles II of Spain
14282                                                                                                                                                                                                                            The traditional title for daughters of the kings of Portugal & Spain
17413                                                                                                                                                                                                               The king of France in 1604 & the king of Spain in 2004 are members of this family
25801                                                                                                                                                                                                                        In 1976 he became the first reigning king of Spain to visit the Americas
35766                                                                                                                                                                                          The national hero of Spain, at times he fought for Christian kingdoms & at other times for Muslim ones
36529                                                                                                                                                                                                             The siege of this kingdom, the last Moorish stronghold in Spain, began in late 1491
49469                                                                                                                                                                                 Leon is in western Spain, & its kings also ruled much of this country that wasn't independent until around 1140
53698                                                                                                                                       (Jimmy of the Clue Crew in Toledo, Spain)  Cristo de la Luz is a church today because in 1085 this hero helped King Alfonso retake Toledo for Christendom
57331                                                                                                                                                                                       Many members of this ruling family, including Spain's King Philip IV, were noted for their prominent jaws
61031                                                                                                                                                                                          This Cretan's 1582 work "Martyrdom of St. Maurice" was his last commission from Spain's King Philip II
71378                                                                                                                                                                                                                               Ferdinand & Isabella of Spain got married & united their kingdoms
72785                                                                                                                                                                                              Fabiola de Mora y Aragon of Spain was a December bride; she married Baudouin, king of this country
81894                                                                                                                                                                                                         In 1795 the king of Spain granted him the first license to commercially produce Tequila
84625                                                                                                                                                                     (Jimmy of the Clue Crew)  When they were done sacking Rome, these Germanic people came to Spain & made Toledo their capital
85182                                                                                                                                                                                                          Juan Carlos I was sworn in as King of Spain 2 days after the death of this man in 1975
105069                                                                                                                                                                                                                 In 711 a Muslim army defeated Roderick, the last king of these people in Spain
109236                                                                                                                                                                                                               Spain's King Philip II was married 4 times; his second wife was this Tudor queen
112630                (<a href="http://www.j-archive.com/media/2009-03-31_J_13.jpg" target="_blank">Jon of the Clue Crew reports from the Spanish coast.</a>)  Francis Drake's attacks on the Spanish province of Galicia were the last straw for Spain's king in deciding to gather this naval force
121410                                                                                                                                                                                                     In 1981 this king thwarted a right-wing attempt to overhtrow Spain's democratic government
122507                                                                                                                                                                                       The Peace of Utrecht ended this war & recognized the legitimacy of Louis XIV's grandson as King of Spain
129621                                                                                                                                                                                                                This royal thwarted a coup d'etat in 1981 & to us he'll always be King of Spain
133550                                                                                                                                                                              The fact the kings of Sweden & Spain are members of "The Most Noble Order of" this shouldn't knock your socks off
138254                                                                                                                                                                                                        Juan Carlos became the first king of Spain in 44 years on the death of this man in 1975
142065                                                                                                                                                                                                                  After being King of Naples & Spain, Joseph, this man's brother, moved to N.J.
144682                                                                                                                                                                                           His 1808 ousting of the king of Spain gave Latin American states the pretext to declare independence
146918                                                                                                                                                                                     In 1995, in Spain's 1st royal wedding in 89 years, this king's daughter Elena married a Castilian nobleman
151849                                                                                                                                                                                                                        Court painter to King Philip IV, he was Spain's greatest Baroque artist
155079                                                                                                                                                                                                                          In 1492 Spain took Grenada, the last kingdom of these people in Spain
159363                                                                                                                                                                                                                 King Ferdinand & Queen Isabella of Spain sent this explorer on his 1492 voyage
164518                                                                                                                                                                                            In 711 a large Muslim army crossed this strait & defeated Roderick, the last Visigoth king of Spain
165971                                                                                                                                                                                                                                           He became king of Spain in 1975 after Franco's death
166521                                                                                                                                                                                                     His family was in exile, so this future king of Spain was born in Rome, on January 5, 1938
173835                                                                                                                                                                                                                              Napoleon was this to Joseph Bonaparte, whom he made King of Spain
175063                                                                                                                                                                                   The Mexuar, the Serallo & the Harem are parts of the Royal Palace in this complex overlooking Granada, Spain
181647                                                                                                                                                                                               In 1969 Franco said, "Here, king" & named him Spain's head of state upon Franco's leaving office
183049                                                                                                                                                                                        In 1561 King Philip II chose this city as the capital of Spain, perhaps because he was born in the area
188673    In one episode, Henry VIII & this woman have a little dinner conversation  <i><a href="http://www.j-archive.com/media/2007-03-29_DJ_02.wmv">"You have not answered my nephew's letters." "Just because your nephew's the king of Spain, does he think I have nothing better to do?"</a></i>
188679                                                                   This daughter of Henry later married Spain's king; here she meets another royal  <i><a href="http://www.j-archive.com/media/2007-03-29_DJ_03.wmv">"Are you the Dauphin of France?" "Oui." "Then I want to kiss you."</a></i>
197293                                                                                                                                                                                                              In 1512 this king seized Navarre, completing the unification of what is now Spain
202011                                                                                                                                                                                                               In 1731 this man's ear was cut off, later sparking a war between Spain & England
207438                                                                                                                                                                                                                   Philip IV of Spain was also king of this country until it broke away in 1640
207444                                                                                                                                                                       (Jimmy of the Clue Crew)  The royal palace was begun by Philip V, the first king of Spain from this French ruling family
207787                                                                                                                                                                                                 Dynasty restored to the throne in 1874 & again in 1975 when Juan Carlos I became king of Spain
207799                                                                                                                                                                                                  This brother of Napoleon was named king of Spain in 1808 after Napoleon conquered the country
208000                                                                                                                                                                              In 1536 Spain's King Charles I made this explorer governor of Cuba; he arrived near present-day Tampa Bay in 1539
209451                                                                                                                                                                                   In 1488 this king of Spain sent 100 Moorish slaves to Pope Innocent VIII who gave them as gifts to Cardinals
213116                                                                                                                                                                                                                                               This man named his brother king of Spain in 1808
215368                                                                                                                                                                             After the Moors were defeated at Tolosa in 1212, their rule was restricted to this small kingdom in southern Spain
Name: Question, dtype: object

<center><h6>Convert the " Value" column to floats</h6>

In [42]:
game["Float Value"] = game["Value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)

<h5> <center> Filtering the dataset and finding the average value of those questions

In [43]:
filtered = filter_data(game, ["King"])
print(filtered["Float Value"].mean())

771.8833850722094

<center>
    <h5> A function to find the unique answers of a set of data

In [44]:

def get_answer_counts(data):
    return data["Answer"].value_counts()

In [45]:
print(get_answer_counts(filtered))

Henry VIII            55
Solomon               35
Richard III           33
Louis XIV             31
David                 30
                      ..
a shih tzu             1
the summer             1
the Pulitzer Prize     1
a rotisserie           1
Dale                   1
Name: Answer, Length: 5268, dtype: int64